@page
@model MyWebApp.Razor.Pages.Index3Model
@{
}

<div>
    <h2>Product [List]</h2>
    <p>
       Product Count : @Model.ProductCount
    </p>
</div>

@section scripts{
    <script>


    </script>
}